@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden; /* Impede a barra de rolagem horizontal */
}

/*Navegação*/

header {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1); /* Adicionando sombra inferior */

}

.navegacao {
    height: 10vh;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menu-navegacao > .itens-navegacao {
    display: flex;
    list-style: none;
    gap: 30px;
}

.itens-navegacao > .item > a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 500;

  }

  .itens-navegacao > .item > a:hover {
    transition: all 0.3s;
    color: #DA292A;
  }
  
  .itens-navegacao > .item > a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #DA292A;
    transition: width 0.3s; /* Define a animação de transição */
  }
  
  .itens-navegacao > .item > a:hover::before {
    width: 100%; /* Define a largura da barrinha ao passar o mouse sobre o link */
 
  }
  

.logo img {
    height: auto;
    width: 150px;
    margin-top: 65px;
}

.navegacao > .botao-whatsapp > i{
    background-color: #DA292A;
    text-align: center;
    padding: 15px;
    margin-left: 15px;
    font-weight: 500;
    border-radius: 0 0 20px 0;
    font-size: 16px;
    color: white;
}





.imagem-contato {
    position: relative;
    max-width: 60vw;
    margin: 0 auto;
    margin-top: 100px;
}

.imagem-contato img {
    width: 100%;
    height: 400px;
    display: block;
    object-fit: cover;
    border-radius: 30px;
}

.imagem-contato h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
    font-weight: 500;
}

.imagem-contato h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
    font-weight: 500;
}

.imagem-contato p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    z-index: 2;
    font-weight: 500;
    margin-top: 50px;
}


.imagem-contato-conteudo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60vw;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    border-radius: 30px;

}



.contate-nos {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin-top: 50px;
}

.logo img {
    z-index: 2;
}

.navegacao > .icones-redes-sociais > i{
    margin-left: 15px;
}

.card {
    display: flex;
    justify-content: flex-start;
    max-width: 60vw;
    background-color: #fff;
    padding: 20px;
}

.formulario {
    width: 40vw;
    box-sizing: border-box;
}

button {
    margin: 0 auto;
    display: block;
    width: 200px;
    margin-top: 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
}

button:hover {
    background-color: #000001;
}


h2 {
    color: #000000;
    margin-bottom: 10px;
}

label, select {
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px;
}

.preferencia label,
.comunicacoes label {
    display: inline-block;
    margin-right: 10px;
}

.preferencia input[type="radio"],
.comunicacoes input[type="checkbox"] {
    vertical-align: middle;
}

textarea {
    height: 100px;
    resize: none;
}



#localizacao {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 20vh;
}

#localizacao h1 {
    margin-top: 50px;
    font-weight: 600;
}

.localizacao-container {
    width: 60vw;
}

.mapa iframe {
    margin-top: 50px;
    width: 100%;
    border-radius: 10px;
}

/*Footer*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-top: 50vh;
}

footer .copyright-container{
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

footer h3 {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 10px;
}

footer p {
    font-size: 14px;
    margin: 0;
}

footer a {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

footer a:hover {
    text-decoration: underline;
}

.pickup-location,
.contacts,
.stay-in-touch,
.company,
.shop,
.delivery,
.legal {
    width: 200px;
    margin-bottom: 20px;
    padding: 20px;
}

footer .stay-in-touch a i {
    margin-right: 5px;
}

footer .logo-rodape img {
    width: 160px;
    height: auto;
    margin-top: 0;
}

.copyright-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

.copyright {
    font-size: 14px;
    color: #000000;
}





